
<div class="container-md mt-5">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column mb-3">
      <h1>Cálculo de consumo energético</h1>
      <app-input [holder]="'Número de pessoas'"></app-input>
      <app-input [holder]="'Número de cômodos'"></app-input>
      <app-check [holder]="'Tenho máquina de lavar roupas'"></app-check>
      <app-check [holder]="'Tenho máquina de secar roupas'"></app-check>
      <app-input [holder]="'Quantidade de TVs'"></app-input>
      <app-input [holder]="'Quantidade de computadores'"></app-input>
      <app-input [holder]="'Tarifa energética'"></app-input>
      <app-button></app-button>
    </div>
  </div>
</div>